header{
    min-height: 55px;
}

body{
    display: grid;
    text-align: justify;
}

section{
    display: grid;
    align-items: center;
    margin-bottom: 12px;
    height: auto;

}

footer{
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;

}

footer div{
    margin-right: 6px;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 1024px){
    section{
        height: 910px
    }
}

@media (min-width: 1300px){
    section{
        height: auto
    }

}


@media (min-width: 1600px){
    section{
        height: calc(100vh - 172px);
    }
}

.teste{
    background-color: yellow;
}



  
  

