header{
    min-height: 55px;
}

body{
    display: grid;
    text-align: justify;
}

section{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: calc(100vh - 102px)

}

footer{
    background-color: #333333;
    color: white;
    padding: 5px;
    display: flex;
}

footer div{
    margin-right: 25px;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
}

.card-body{
    display: flex;
    flex-direction: column;

}

@media (max-width: 768px){
    section{
        height: auto;
    }
    footer{
        height: auto;

    }
    footer div{
        flex-direction: column;
        text-align: center;
    }

    footer div li {
        list-style-type: none;
    }
}

@media (max-width: 992px){
    section{
        height: auto;
    }
    footer{
        height: auto;

    }
    footer div{
        flex-direction: column;
        text-align: center;
    }

    footer div li {
        list-style-type: none;
    }
}
/*
@media (min-width: 1300px){
    section{
        height: auto
    }

}


@media (min-width: 1600px){
    section{
        height: calc(100vh - 172px);
    }
} */

