header{
    min-height: 55px;
}

section{
    display: grid;
    align-items: center;
    margin-bottom: 12px;
}

footer{
    background-color: darkgray;
    padding-top: 14px;
}

.nav-item{
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 1600px){
    section{
        height: calc(100vh - 172px);
    }
}