header{
    min-height: 50px;
  }

section{
    display: flex;
    align-items: center;
    padding-top: 6px;
}

.card{
  box-shadow: 0 1px 4px 0 rgb(0,0,0);
  transition: 0.3s;
}

footer{
  background-color: #333333;
  color: white;
  padding: 5px;
  display: flex;
}

footer div{
  margin-right: 25px;
}
 
  .nav-item{
    display: flex;
    justify-content: flex-end;
  }

    @media (max-width: 768px){
      section{
          height: auto;
      }
      footer{
          height: auto;
  
      }
      footer div{
          flex-direction: column;
          text-align: center;
      }
  
      footer div li {
          list-style-type: none;
      }
  }
  
  @media (max-width: 992px){
      section{
          height: auto;
      }
      footer{
          height: auto;
  
      }
      footer div{
          flex-direction: column;
          text-align: center;
      }
  
      footer div li {
          list-style-type: none;
      }
      .image{
        display: none;
      }
  }